html[data-theme="light"] {
  // Using "Catppuccin Latte" for the light theme!
  --catppuccin-rosewater: 220, 138, 120;
  --catppuccin-flamingo: 221, 120, 120;
  --catppuccin-pink: 234, 118, 203;
  --catppuccin-mauve: 136, 57, 239;
  --catppuccin-red: 210, 15, 57;
  --catppuccin-maroon: 230, 69, 83;
  --catppuccin-peach: 254, 100, 11;
  --catppuccin-yellow: 223, 142, 29;
  --catppuccin-green: 64, 160, 43;
  --catppuccin-teal: 23, 146, 153;
  --catppuccin-sky: 4, 165, 229;
  --catppuccin-sapphire: 32, 159, 181;
  --catppuccin-blue: 30, 102, 245;
  --catppuccin-lavender: 114, 135, 253;
  --catppuccin-text: 76, 79, 105;
  --catppuccin-subtext1: 92, 95, 119;
  --catppuccin-subtext0: 108, 111, 133;
  --catppuccin-overlay2: 124, 127, 147;
  --catppuccin-overlay1: 140, 143, 161;
  --catppuccin-overlay0: 156, 160, 176;
  --catppuccin-surface2: 172, 176, 190;
  --catppuccin-surface1: 188, 192, 204;
  --catppuccin-surface0: 204, 208, 218;
  --catppuccin-base: 239, 241, 245;
  --catppuccin-mantle: 230, 233, 239;
  --catppuccin-crust: 220, 224, 232;
  --catppuccin-accent: var(--catppuccin-mauve);
}

html[data-theme="dark"] {
  // Using "Catppuccin Mocha" for the dark theme!
  --catppuccin-rosewater: 245, 224, 220;
  --catppuccin-flamingo: 242, 205, 205;
  --catppuccin-pink: 245, 194, 231;
  --catppuccin-mauve: 203, 166, 247;
  --catppuccin-red: 243, 139, 168;
  --catppuccin-maroon: 235, 160, 172;
  --catppuccin-peach: 250, 179, 135;
  --catppuccin-yellow: 249, 226, 175;
  --catppuccin-green: 166, 227, 161;
  --catppuccin-teal: 148, 226, 213;
  --catppuccin-sky: 137, 220, 235;
  --catppuccin-sapphire: 116, 199, 236;
  --catppuccin-blue: 137, 180, 250;
  --catppuccin-lavender: 180, 190, 254;
  --catppuccin-text: 205, 214, 244;
  --catppuccin-subtext1: 186, 194, 222;
  --catppuccin-subtext0: 166, 173, 200;
  --catppuccin-overlay2: 147, 153, 178;
  --catppuccin-overlay1: 127, 132, 156;
  --catppuccin-overlay0: 108, 112, 134;
  --catppuccin-surface2: 88, 91, 112;
  --catppuccin-surface1: 69, 71, 90;
  --catppuccin-surface0: 49, 50, 68;
  --catppuccin-base: 30, 30, 46;
  --catppuccin-mantle: 24, 24, 37;
  --catppuccin-crust: 17, 17, 27;
  --catppuccin-accent: var(--catppuccin-mauve);
}